<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= item.amount %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Picturepath:</strong>
    <%= item.picturePath %>
  </p>

  <p>
    <strong>Warehouse:</strong>
    <%= item.warehouse %>
  </p>

</div>
